:root {
  --bg:#ebf0f7;
  --header:#fbf4f6;
  --text:#f0f8ff;
  --text-dark: #242424;
  --white:#ffffff;
  --light-grey:gray;
  --tag-1:#ceecfd;
  --tag-1-text:#2e87ba;
  --tag-2:#d6ede2;
  --tag-2-text:#13854e;
  --tag-3:#ceecfd;
  --tag-3-text:#2d86ba;
  --tag-4:#FE8200;
  --tag-4-text:#f2d1ad;
  --purple:#7784ee;
}
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  color:var(--text);
}

@mixin display {
  display:flex;
  align-items:center;
}

.app {
  background-color:var(--bg);
  width:100%;
  min-height:100vh;
}

h1 {
  font-size:30px;
}
.project {
  padding:2rem;
  width:100%;
  display:inline-block;
  &-tasks {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    width:100%;
    grid-column-gap:1.5rem;
  }
  &-column-backlog,
  &-column-inprogress,
  &-column-done,
  &-column {
    background-color: #eee;
    padding: 1.5rem;
    border-radius: 8px;
    &-heading {
      margin-bottom:1rem;
      @include display;
      justify-content:space-between;
      &__title {
        font-size:20px;
        color: var(--text-dark);
      }
      &__options {
        background:transparent;
        color:var(--light-grey);
        font-size:18px;
        border:0;
        cursor:pointer;
      }
    }
  }
}

.task {
  cursor:move;
  background-color:var(--white);
  color: #1D1D1D;
  padding:1rem;
  border-radius:8px;
  width:100%;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  margin-bottom:1rem;
  border:3px dashed transparent;

  &:hover {
     box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color:rgba(162,179,207,.2)!important;
  }

  p {
    font-size:15px;
    margin:1.2rem 0;
  }
  &__tag {
    border-radius:100px;
    padding:2px 13px;
    font-size:12px;

    &--title {
      color:var(--text);
      background-color:var(--tag-4);
    }
  }
  &__tags {
    width:100%;
    @include display;
    justify-content:space-between;
  }

  &__options {
    background:transparent;
    border:0;
    color:var(--light-grey);
    font-size:17px;
    &-icon {
      margin-right: 8px;
    }
    &-icon:hover {
      cursor: pointer;
    }
  }

  &__stats {
    position:relative;
    width:100%;
    color:var(--light-grey);

    font-size:12px;
    span:not(:last-of-type){
      margin-right:1rem;
    }
    svg {
      margin-right:5px;
    }
  }

  &__owner {
    width:25px;
    height:25px;
    border-radius:100rem;
    background:var(--purple);
    position:absolute;
    display:inline-block;
    right:0;
    bottom:0;

  }
}

.task-hover {
  border:3px dashed var(--light-grey)!important;
}
.task-details {
  width:24%;
  border-left:1px solid #d9e0e9;
  display:inline-block;
  height:100%;
  vertical-align:top;
  padding:3rem 2rem;
}

.task-icon {
  width:30px;
  height:30px;
  border-radius:100rem;
  position:absolute;
  top:0;
  left:0;
  @include display;
  justify-content:center;

  svg {
    font-size:12px;
    color:var(--white);
  }
  &--attachment {
    background-color:#fba63c;
  }
  &--comment {
    background-color:#5dc983;
  }
  &--edit {
    background-color:#7784ee;
  }
}
.project-add-heading {
  display: flex;
  &--add-icon {
    margin-left: 1rem;
    font-size: 25px;
  }
  &--add-icon:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1300px) {
  .project {
    max-width:100%;
  }
  .task-details {
    width:100%;
    display:flex;
  }
  .tag-progress,
  .task-activity {
    flex-basis:50%;
    background:var(--white);
    padding:1rem;
    border-radius:8px;
    margin:1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .project-column:nth-child(2),
  .project-column:nth-child(3) {
    display:none;
  }
  .project-tasks {
    grid-template-columns:1fr 1fr;
  }
}



@media only screen and (max-width: 600px) {
  .project-column:nth-child(4){
    display:none;
  }
  .project-tasks {
    grid-template-columns:1fr;
  }

  .task-details {
    flex-wrap:wrap;
    padding:3rem 1rem;
  }
  h1 {
    font-size:25px;
  }
}
